.cart {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px; /* Ajuste conforme necessário */
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  border-radius: 8px;
  position: fixed;
  right: 0;
  top: 100px;
  bottom: 0;
  overflow-y: auto;
  transition: transform 0.3s ease;
  transform: translateX(100%); /* Inicialmente fora da tela */
}

.cart--active {
  transform: translateX(0); /* Move o carrinho para dentro da tela */
}

.cart-header {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza os itens horizontalmente */
  justify-content: center; /* Centraliza os itens verticalmente */
  margin-bottom: 16px;
  text-align: center; /* Centraliza o texto */
}

.cart-title {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.cart-items {
  flex: 1; /* Ocupa o espaço restante */
  margin-bottom: 16px;
  padding-bottom: 16px; /* Adiciona espaçamento inferior */
}

.cart-summary {
  margin-top: auto; /* Move o resumo para o fundo do contêiner */
  padding-top: 16px;
}

.total-quantity {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.coupon-container {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.coupon-input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.apply-coupon-button {
  margin-left: 8px;
  padding: 8px 16px;
  background-color: #80d880; /* Azul Mercado Livre */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.apply-coupon-button:hover {
  background-color: #00b551; /* Cor mais escura para o estado hover */
}

.cart-resume {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 16px;
}

.finalize-button {
  width: 100%;
  padding: 12px;
  background-color: #009EE3; /* Azul Mercado Livre */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.finalize-button:hover {
  background-color: #007BB5; /* Cor mais escura para o estado hover */
}
