.cart {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  position: fixed;
  right: 0;
  top: 100px;
  bottom: 0;
  overflow-y: auto;
  transition: transform 0.3s ease;
  transform: translateX(100%);
  z-index: 1000; /* Mantém o carrinho sobre outros elementos */
}

.cart--active {
  transform: translateX(0);
}

.cart-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  border-bottom: 1px solid #eee; /* Linha sutil abaixo do cabeçalho */
  padding-bottom: 8px;
}

.cart-title {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  flex-grow: 1;
  margin: 0;
}

.cart-items {
  flex: 1;
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #eee; /* Linha sutil separando os itens do resumo */
}

.cart-summary {
  margin-top: auto;
  padding-top: 16px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.total-quantity {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.coupon-container {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.coupon-input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.apply-coupon-button {
  margin-left: 6px;
  padding: 8px 10px;
  background-color: #00b551;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.apply-coupon-button:hover {
  background-color: #80d880;
}

.cart-resume {
  display: flex;
  justify-content: space-between; /* Alinha a palavra "Total" à esquerda e o valor à direita */
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 16px;
}

.finalize-button {
  width: 100%;
  padding: 12px;
  background-color: #009ee3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.finalize-button:hover {
  background-color: #007bb5;
}

.close-cart-button {
  background: none;
  border: none;
  font-size: 25px;
  cursor: pointer;
  margin-right: 5px;
}
