/* Estilos gerais */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  color: #333;
}

/* Página de detalhes do produto */
.produto-detalhes {
  display: flex;
  padding: 20px;
  background-color: #fff;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
}

.produto-imagem img {
  width: 100%;
  max-width: 400px;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.produto-info {
  margin-left: 30px;
  max-width: 600px;
}

.produto-info h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
}

.produto-descricao {
  font-size: 1rem;
  color: #666;
  margin: 10px 0;
}

.produto-categoria, .produto-preco, .produto-quantidade {
  font-size: 1.2rem;
  color: #333;
  margin-top: 10px;
}

.produto-preco {
  font-weight: bold;
  color: #e74c3c;
}

.produto-quantidade {
  margin-top: 5px;
}

.botao-avaliar {
  background-color: #fffb00;
  color: #333;
  border: none;
  border-radius: 5px;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.botao-avaliar:hover {
  background-color: #f4c10b;
}

/* Adicionando um botão de voltar, se necessário */
.produto-info button {
  background-color: #f1c40f;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  margin-top: 20px;
  cursor: pointer;
}

.produto-info button:hover {
  background-color: #e1b70f;
}
/* ProdutoDetalhes.css */
.btn-avaliar {
  background-color: #4CAF50; /* Cor de fundo verde */
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.btn-avaliar:hover {
  background-color: #45a049; /* Cor do botão ao passar o mouse */
}
