.site-shopping-info {
  background-color: #dfdfdf;; 
  border-top: 0.1px solid #e6dee1; 
}

.site-shopping-info .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px; 
  display: grid;  
  gap: 20px; 
}

.info-slide {
  flex: 1 1 300px; 
  display: flex;
  flex-direction: column; 
  align-items: center; 
  background-color: #ffffff; 
  border-radius: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  padding: 30px;
  box-sizing: border-box; 
  
}

.info-slide .img-container {
  align-self: center; 
  
}

.info-slide .img-container img {
  max-width: 60px; 
  height: auto;
}

.info-slide h2 {
  font-size: 1.25rem; 
  margin: 0; 
  color: #333; 
}

.info-slide p {
  font-size: 1rem; 
  margin: 0 0 10px; 
  color: #555; 
}

.info-slide a {
  font-size: 0.875rem; 
  color: #007bff;
  text-decoration: none;
}

.info-slide a:hover {
  text-decoration: underline; 
  
}

.business-info-image img {
  max-width: 100%; 
  height: auto; 
  margin-top: -140px; 
}

.info-card {
  display: flex;
  align-items: center; 
  background-color: #fff; 
  border-radius: 8px; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
  padding: 30px; 
  margin: 20px auto; 
  width: 100%; 
  max-width: 1000px; 
  margin-top: -140px;

}

.rocket-img {
  width: 50px; 
  height: auto; 
  margin-right: 15px; 
}

.info-card h3 {
  margin: 0;
  flex-grow: 1; 
  font-size: 18px;
  }

  .business-info-image h1 {
    margin-top: 100px; 
  }
  
.login-button {
  background-color: blue; 
  color: white; 
  border: none;
  border-radius: 20px; 
  padding: 10px 20px; 
  cursor: pointer;
  font-size: 14px;
  margin-left: 15px; 
  transition: background-color 0.3s; 
}

.login-button:hover {
  background-color: darkblue; 
}

.site-footer {
  background-color: #e7eaee; 
  padding: 20px 0;
  text-align: center; 
  display: flex; 
  flex-direction: column;
  align-items: center;
}

.copyright {
  margin-bottom: 20px; 
  font-size: 0.875rem; 
  color: #333; 
}

.footer-links {
  display: flex; 
  flex-direction: row; 
  gap: 15px; 
}

.footer-link {
  color: #007bff;
  text-decoration: none; 
}

.footer-link:hover {
  text-decoration: underline; 
}