/* Ícone de carrinho no canto da tela */
.cart-icon {
    position: fixed; /* Garante que o ícone permaneça no canto da tela */
    bottom: 20px; /* Distância da parte inferior da tela */
    right: 20px; /* Distância da parte direita da tela */
    background-color: #ffe600;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(5, 5, 5, 0.719);
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.cart-icon:hover {
    background-color: #008c7a;
}

.cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Modal do carrinho */
.cart-modal {
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.close-cart-button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.cart-items {
    flex: 1;
    overflow-y: auto;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.cart-item-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
}

/* src/components/Vendedor/Vendedor.css */
.remove-item-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .remove-item-button:hover {
    background-color: #ff1a1a;
  }
  