.pagamento-container {
  padding: 20px;
  text-align: center;
}

.pagamento-header {
  margin-bottom: 20px;
}

.pagamento-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.pagamento-content {
  font-size: 18px;
}
