.checkout-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Garante que o container ocupe toda a altura da tela */
}

.checkout-header {
  text-align: center;
  margin-bottom: 20px;
}

.checkout-content {
  flex: 1; /* Faz o conteúdo principal crescer para ocupar o espaço disponível */
  margin-bottom: 20px;
}

.order-summary {
  margin-bottom: 20px;
}

.order-item {
  display: flex;
  margin-bottom: 10px;
}

.order-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 10px;
}

.order-item-details {
  flex: 1;
}

.order-item-name {
  font-weight: bold;
}

.order-summary-total {
  font-weight: bold;
}

.payment-methods {
  margin-bottom: 20px;
}

.payment-method-list {
  display: flex;
  flex-wrap: wrap;
}

.payment-method {
  flex: 1;
  max-width: 200px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ddd;
  margin-right: 10px;
  margin-bottom: 10px;
}

.payment-method img {
  width: 50px;
  height: 30px;
  margin-right: 10px;
}

.selected {
  border-color: #00a859;
}

.select-button {
  background: none;
  border: none;
  color: #00a859;
  font-size: 20px;
  cursor: pointer;
}

.payment-info, .debit-card-info, .pix-code, .boleto-info {
  margin-top: 20px;
}

.checkout-footer {
  text-align: center;
  margin-top: auto; /* Garante que o rodapé vá para o fundo se necessário */
}

.checkout-button {
  background-color: #00a859;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
