/* Container principal da seção de produtos */
.products {
  padding: 80px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 20px;
  background-color: #f8f9fa; /* Fundo claro e moderno */
}

/* Estilo para cada card de produto */
.product-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
  overflow: hidden;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  border: 1px solid #e0e0e0; /* Borda suave para um visual mais clean */
  text-align: center;
  display: flex;
  flex-direction: column;
}

/* Efeito de hover no card do produto */
.product-card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra mais forte ao passar o mouse */
  transform: translateY(-5px); /* Levanta o card ao passar o mouse */
}

/* Imagem do produto */
.card__image {
  width: 100%;
  height: auto;
  object-fit: cover; /* Ajusta a imagem para preencher o container */
  border-bottom: 1px solid #e0e0e0; /* Borda inferior para separar imagem do texto */
}

/* Container das informações do produto */
.card__infos {
  padding: 16px;
  flex: 1;
}

/* Preço do produto */
.card__price {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 8px;
}

/* Título do produto */
.card__title {
  font-size: 16px;
  color: #666;
  margin: 0;
}

/* Botão para adicionar ao carrinho */
.button__add-cart {
  background-color: #00a859; /* Cor do botão */
  border: none;
  color: #ffffff;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin: 16px;
  align-self: center;
}

/* Efeito de hover no botão */
.button__add-cart:hover {
  background-color: #008c7a;
}
