/* src/components/ProductDetail/ProductDetail.css */

.product-detail {
  padding: 20px;
}

.detail-container {
  display: flex;
  margin-top: 20px;
}

.image-section {
  flex: 1;
  margin-right: 20px;
}

.product-image {
  width: 100%;
  max-width: 500px;
}

.image-gallery {
  display: flex;
  margin-top: 10px;
}

.gallery-image {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  cursor: pointer;
  border: 1px solid #ccc;
}

.info-section {
  flex: 2;
}

.product-title {
  font-size: 24px;
  margin: 10px 0;
}

.product-price {
  font-size: 20px;
  color: #e20000;
  margin: 10px 0;
}

.add-to-cart-button {
  padding: 10px 20px;
  background-color: #00a650;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.product-description {
  margin-top: 20px;
}

.product-description h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.back-button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 0;
}

.back-button:hover {
  background-color: #0056b3;
}

