/* Header.css */
.header {
  background-color: #ffea00; /* Cor de fundo do header */
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: relative; 
}

.search-bar-container {
  flex-grow: 1; 
  display: flex;
  justify-content: center; 
  margin-left: 100px; 
  margin-right: 100px; 
}

.search-bar {
  width: 100%;
  max-width: 800px;
  padding: 5px 10px; 
  border-radius: 30px;
  border: 1px solid #ddd; 
  outline: none;
}

.logo {
  width: 80px; 
  height: auto;
  position: absolute;
  left: -80px; 
}

.nav-area {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav-image {
  height: 40px; /* Ajuste conforme necessário */
  margin-left: 60px; /* Espaço entre a imagem e o botão do carrinho */
}
