/* Estilos gerais */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  color: #333;
}

header {
  padding: 0;
  position: relative;
}

main {
  flex: 1;                    
}

.produtos-container {
  width: 100%;
  margin: 0px auto;
  background-color: #fceb54;
  border-radius: 8px;
}

.filter-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  background-color: #fceb54; 
  border-radius: 7px;
  margin-bottom: 40px;
}

.filter-button {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  padding: 8px 15px; 
  cursor: pointer;
  border-radius: 5px;
  font-weight: 500;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 14px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); 
}

.filter-button:hover {
  background-color: #f7f7f7;
  color: #333;
}

.filter-button.active {
  background-color: #3483fa; 
  color: #fff;
  border-color: #3483fa;
}

.produtos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.produto-link {
  text-decoration: none;
}

.produto-item {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.link2 {
  display: inline-block;
  padding: 8px 15px;
  text-decoration: none;
  color: #3483fa;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  font-weight: 500;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  margin-bottom: 15px; 
}

.link2:hover {
  background-color: #f7f7f7;
  color: #2a6dc0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.produto-item:hover {
  transform: scale(1.03);
}

.produto-item img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  margin-bottom: 15px;
}

.produto-item h2 {
  font-size: 1.2em;
  color: #333;
}

.produto-item p {
  color: #666;
  font-size: 0.9em;
  margin: 5px 0;
}

.produto-item .filter-button,
.produto-item .remove-product-button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.remove-product-button {
  background-color: #e74c3c;
  color: white;
  border: none;
  transition: background-color 0.3s ease;
}

.remove-product-button:hover {
  background-color: #c0392b;
}

.cart-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #fffb00;
  color: #333;
  border: none;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  font-size: 1.5em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.cart-button:hover {
  transform: scale(1.1);
}

.cart-modal {
  position: fixed;
  right: 0;
  top: 0;
  width: 400px;
  height: 100%;
  background-color: #f5f5f5;
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow-y: auto;
  font-family: Arial, sans-serif;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}

.cart-item h3 {
  font-size: 1em;
  color: #333;
  font-weight: 500;
}

.cart-item .remove-button {
  background-color: #3483fa; 
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 0.9em;
}

.cart-item .remove-button:hover {
  background-color: #2a69d8;
}

.cart-item-actions {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.cart-item-actions button {
  background-color: #a5a3a3c5; 
  border: 1px solid #fffdfd;
  padding: 6px 12px; 
  cursor: pointer;
  font-size: 14px;
  border-radius: 50%; 
  transition: background-color 0.3s ease;
  width: 30px; 
  height: 30px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-item-actions button:hover {
  background-color: #ffe600; 
}
.cart-item-actions button:focus {
  outline: none; 
}

.cart-item-actions span {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  margin: 0 10px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}

.remove-item {
  background: none;
  border: none;
  font-size: 20px;
  color: red;
  cursor: pointer;
  padding: 0;
  transition: color 0.3s ease;
}

.remove-item:hover {
  color: darkred;
}

.cart-item p {
  margin: 0;
  font-size: 14px;
}

.cart-item h3 {
  font-size: 1em;
  color: #333;
  font-weight: 500;
}

.cart-total {
  margin-top: 20px;
  text-align: right;
  font-weight: 500;
  color: #333;
}
.go-to-address-button{
  background-color: #3483fa;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    width: auto;
    transition: background-color 0.3s ease;
    
}
.go-to-address-button:hover {
  background-color: #2973d1; 
}



.checkout-button {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #3483fa; 
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-top: 20px;
  text-align: center;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.checkout-button:hover {
  background-color: #2a69d8;
}

.close-cart-button {
  background-color: #3483fa; 
  color: #fcfcfc;
  border: none;
  padding: 10px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 40px; 
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}


.close-cart-button:hover {
  background-color: #2973d1}

.add-product-button {
  position: fixed;
  bottom: 100px;
  right: 20px;
  background-color: #fffb00;
  color: #000000;
  border: none;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  font-size: 2em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.add-product-button:hover {
  transform: scale(1.1);
}

.cart-item-count {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-container h2 {
  margin-bottom: 8px; 
}
.produtos-footer {
  background-color:#fceb54;
  padding: 20px;
  color: #1b1919be;
  text-align: center;
  margin-top: 40px;
}

.produtos-footer-links {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.produtos-footer-link {
  color: #141313af;
  text-decoration: none;
}

.produtos-footer-link:hover {
  color: #555552; 
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f3f3;
  border-bottom: 1px solid #ddd;
}

.logo {
  width: 150px;
}

.navbar {
  display: flex;
  background-color : #fceb54;
  gap: 15px; 
}

.navbar-link {
  display: inline-block;
  text-decoration: none;
  background-color: #ecf0f3;
  color: #201f1fc7;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 30px; 
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.navbar-link:hover {
  background-color: #4d4e4e44;
  transform: scale(1.1);
}

