/* Estilos gerais */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  color: #333;
}

header {
  margin: 15px;
  padding: 0;
  position: relative;
}

.produtos-container {
  width: 100%;
  margin: 0px auto;
  padding: 30px;
  background-color: #fceb54;
  border-radius: 8px;
}

/* Contêiner de cabeçalho da categoria */
.filter-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  background-color: #fceb54; /* Cor de fundo do Mercado Livre */
  border-radius: 7px;
  margin-bottom: 40px;
}

/* Botões de categoria */
.filter-button {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  padding: 8px 15px; /* Espaçamento interno maior para maior usabilidade */
  cursor: pointer;
  border-radius: 5px;
  font-weight: 500;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 14px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

/* Efeito ao passar o mouse */
.filter-button:hover {
  background-color: #f7f7f7;
  color: #333;
}

/* Estilo para o botão ativo */
.filter-button.active {
  background-color: #3483fa; /* Azul característico do Mercado Livre */
  color: #fff;
  border-color: #3483fa;
}

/* Grid de produtos */
.produtos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.produto-link {
  text-decoration: none;
}

.produto-item {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.link2 {
  display: inline-block;
  padding: 8px 15px;
  text-decoration: none;
  color: #3483fa;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  font-weight: 500;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  margin-bottom: 15px; /* Espaço na parte de baixo */
}

/* Efeito ao passar o mouse */
.link2:hover {
  background-color: #f7f7f7;
  color: #2a6dc0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}



.produto-item:hover {
  transform: scale(1.03);
}

.produto-item img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  margin-bottom: 15px;
}

.produto-item h2 {
  font-size: 1.2em;
  color: #333;
}

.produto-item p {
  color: #666;
  font-size: 0.9em;
  margin: 5px 0;
}

.produto-item .filter-button,
.produto-item .remove-product-button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.remove-product-button {
  background-color: #e74c3c;
  color: white;
  border: none;
  transition: background-color 0.3s ease;
}

.remove-product-button:hover {
  background-color: #c0392b;
}

/* Estilos do carrinho */
.cart-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #fffb00;
  color: #333;
  border: none;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  font-size: 1.5em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.cart-button:hover {
  transform: scale(1.1);
}

.cart-modal {
  position: fixed;
  right: 0;
  top: 0;
  width: 400px;
  height: 100%;
  background-color: #f5f5f5; /* Cor de fundo mais clara */
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow-y: auto;
  font-family: Arial, sans-serif; /* Tipografia similar */
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}

.cart-item h3 {
  font-size: 1em;
  color: #333;
  font-weight: 500;
}

.cart-item .remove-button {
  background-color: #3483fa; /* Azul característico do Mercado Livre */
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 0.9em;
}

.cart-item .remove-button:hover {
  background-color: #2a69d8;
}

.cart-item-actions {
  display: flex;
  align-items: center;
  gap: 10px; /* Espaço entre os botões */
}

.cart-item-actions button {
  background-color: #a5a3a3c5; /* Fundo claro */
  border: 1px solid #fffdfd;
  padding: 6px 12px; /* Tamanho menor para os botões */
  cursor: pointer;
  font-size: 14px;
  border-radius: 50%; /* Botões redondos */
  transition: background-color 0.3s ease;
  width: 30px; /* Tamanho fixo */
  height: 30px; /* Tamanho fixo */
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-item-actions button:hover {
  background-color: #ffe600; /* Amarelo do Mercado Livre ao passar o mouse */
}
.cart-item-actions button:focus {
  outline: none; /* Remove o contorno de foco */
}

/* Estilo do texto de quantidade no carrinho */
.cart-item-actions span {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  margin: 0 10px;
}

/* Ajuste para o item no carrinho */
.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}
/* Estilo do botão de remoção (X) */
.remove-item {
  background: none;
  border: none;
  font-size: 20px;
  color: red;
  cursor: pointer;
  padding: 0;
  transition: color 0.3s ease;
}

.remove-item:hover {
  color: darkred;
}

.cart-item p {
  margin: 0;
  font-size: 14px;
}

.cart-item h3 {
  font-size: 1em;
  color: #333;
  font-weight: 500;
}

.cart-total {
  margin-top: 20px;
  text-align: right;
  font-weight: 500;
  color: #333;
}
.go-to-address-button{
  background-color: #3483fa;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    width: auto;
    transition: background-color 0.3s ease;
    
}
.go-to-address-button:hover {
  background-color: #2973d1;  /* Cor de fundo ao passar o mouse */
}



.checkout-button {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #3483fa; /* Azul padrão Mercado Livre */
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-top: 20px;
  text-align: center;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.checkout-button:hover {
  background-color: #2a69d8;
}

.close-cart-button {
  background-color: #3483fa; /* Amarelo padrão Mercado Livre */
  color: #fcfcfc;
  border: none;
  padding: 10px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 40px; /* Espaçamento com o item abaixo */
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}


.close-cart-button:hover {
  background-color: #2973d1}

/* Botão de adicionar produto */
.add-product-button {
  position: fixed;
  bottom: 100px;
  right: 20px;
  background-color: #fffb00;
  color: #000000;
  border: none;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  font-size: 2em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.add-product-button:hover {
  transform: scale(1.1);
}

/* Bolinha vermelha de contagem */
.cart-item-count {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Cabeçalho de categoria */
.filter-container h2 {
  margin-bottom: 8px; /* Espaço abaixo do título */
}
.produtos-footer {
  background-color:#fceb54;
  padding: 20px;
  color: #1b1919be;
  text-align: center;
  margin-top: 40px;
}

.produtos-footer-links {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.produtos-footer-link {
  color: #141313af;
  text-decoration: none;
}

.produtos-footer-link:hover {
  color: #555552; /* Amarelo Mercado Livre */
}

