
.video-banner-container {
    position: relative;
    width: 100%;
    height: 50vh; /* Ocupa a altura total da viewport */
    overflow: hidden;
}

.video-banner-container .banner-row {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    position: relative;
    color: #fff;
}

/* background-img: Imagem de fundo do banner */
.video-banner-container .background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1; 
}

/* gradient-banner: Sobreposição de gradiente para dar um efeito visual */
.video-banner-container .gradient-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
    z-index: 1; /* Coloca o gradiente sobre a imagem */
}

/* col: Colunas dentro do banner */
.video-banner-container .col {
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 200px;
}

/* banner-link: Link que contém todo o conteúdo principal do banner */
.video-banner-container .banner-link {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-decoration: none;
}

/* banner-logo-text: Container para o texto e logotipo dentro do link */
.video-banner-container .banner-logo-text {
    max-width: 120px;
}

/* logo: Logotipo dentro do banner */
.video-banner-container .logo {
    width: 100%;
    height: auto;
}

/* text: Container para o texto do banner */
.video-banner-container .text {
    margin-top: 80px;
}

.video-banner-container .primary-title {
    font-size: 20px;
    left: 20%;
    font-weight: bold;
}

.video-banner-container .secondary-title {
    font-size: 18px;
    font-weight: normal;
}

.video-banner-container .pill {
    display: inline-block;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 20px;
    color: #fff;
    font-size: 14px;
}

/* actions: Container para os botões de ação */
.video-banner-container .actions {
    margin-top: 40px;
}

.video-banner-container .action-button {
    background-color: #00A650; /* Cor do botão */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}



/* video-wrapper-trailer: Container para o player de vídeo */
.video-banner-container .video-wrapper-trailer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.video-banner-container .video-player-wrapper {
    position: relative;
    width: 100%;
    height: auto;
}

/* vjs-tech: Player de vídeo */
.video-banner-container .vjs-tech {
    width: 100%;
    height: auto;
    border-radius: 6px; /* Borda arredondada opcional */
}

